.stars {
  position: relative;
  top: -3px;

  display: flex;

  &__star {
    width: 16px;
    height: 16px;

    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  @for $i from 1 through $stars-count {
    &--#{$i} .stars__star:nth-child(-n + #{$i}) {
      background-image: url('../images/star-active.svg');
    }
  }
}
